@charset "utf-8";
/* CSS Document */
.wrapper {
  position: relative;
}
.box {
  position: absolute;	
  width: 1300px;	
  height: 1050px;
  background: url(../images/bg.jpg)
}
.container {
  position: absolute;
  width: 1000px;
  height: 990px;
  margin: 38px 130px 35px 153px;
  background-color: white;
}
.header {
  position: relative;
  width: 1000px;
  height: 175px;
  padding-top: 0px;
  margin-top: 0px;
  top: 0px;
}
.logo {
  width: 30%
}
.logo img {
  float: left;	
  overflow: hidden; 
  margin: 5px 720px 5px 30px; 	
}
.contacts {
  position: absolute;
  float: right;
  margin-top: 5px;
  margin-right: 35px;
  margin-left: 744px;
  margin-bottom: 40px;
  padding-top: 2px;
}
li {
  list-style-type: none;
}
.contacts li {
  color: #128aa7;	
}
.contries li img {
  height: 33px;
  float: right;
  display: block;
  margin-top: 1px;
  position: relative;
  margin-bottom: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.contries li a {
  float: right;	
}
.center-panel ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.center-panel ul li :after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}
.center-panel ul li  {
  float: left;
  position: relative;
  font-size: 14px;
  font-style: Tahoma; 
}
.center-panel ul li  a {
  display: block;
  padding: 10px;
  color: white;
  background-color: grey;
  text-decoration: none;
}
/*.center-panel ul li  a :hover {
  background-color: black;
}*/
.submenu li   {
  display: none;
  position: absolute;
  width: 100%;
  top: 37px;
  left: 0;
  background-color: white;
  border: 1px solid grey;
}
.submenu ul li  {
  display: block;
}
.submenu ul li  a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #303030;
  text-decoration: none;
}
.submenu ul li  a :hover  {
  text-decoration: underline;
}
ul.center-panel  li:hover  ul.submenu {
    display: block;
}
.content {
  width: 900px;
  background: white;
  clear: both;
}
.leftColumn {
  width: 200px;
  float: left;
}
.centerColumn {
  width: 500px;
  float: left;
}
.rightColumn {
  width: 200px;
  float: left;
}